Big_Integer/bin/
Big_Integer/obj/
Big_Integer/*.depend
Big_Integer/*.layout
Big_Integer/*.cbp

Big_Integer_Template/bin/
Big_Integer_Template/obj/
Big_Integer_Template/*.depend
Big_Integer_Template/*.layout
Big_Integer_Template/*.cbp

